@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&display=swap');

@layer components {
  
body {
  @apply bg-white dark:bg-black text-black dark:text-white font-sans
}

}

*{
  font-family: 'Poppins', sans-serif;
}

/* .canvas{
  height: 600px; 
  width: 30%;
}

@media(max-width:700px)
{
  .canvas{
    height: 400px;
    width: 80%;
    margin: auto;
  }
} */











@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myAnimation2 {
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
  0% {
    opacity: 1;
    transform: translateX(0);
  }
}


.mainhead1 {
  animation: myAnimation 1s ease-in;
}
.mainhead2 {
  animation: myAnimation 1s ease-in;
}



@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media(max-width:800px)
{
  .nav {
    animation: topToBottom 1s ease-in-out;
  }
  
  
}
