@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&display=swap');

@layer components {
  
body {
  @apply bg-white dark:bg-black text-black dark:text-white font-sans
}

}

*{
  font-family: 'Poppins', sans-serif;
}

/* .canvas{
  height: 600px; 
  width: 30%;
}

@media(max-width:700px)
{
  .canvas{
    height: 400px;
    width: 80%;
    margin: auto;
  }
} */